ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body {
  margin:0;
  background-color: lightgrey;
}

div {
  font-family: Roboto;
  /*text-align: center;*/
}

.tabs {
  font-family: serif;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  background-color: black;
}

.nav-container li {
  box-sizing: border-box;
  padding: 20px;
  height: 65px;
  color: white;
  font-weight: bold;
}

.nav-container li:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.nav-container li:not(hover) {
  transition: 0.3s;
}

.home {
  margin-right: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  cursor: default;
}

.center {
  text-align: center;
}

.img-container {
  font-size: 48px;
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;

}

.search-bar {
  box-sizing: border-box;
  font-size: 18px;
  margin: 30px;
  text-align: center;
  /*width: 70%;*/
  /*padding: 12px 20px;*/
  height: 40px;
  min-width: 30vw;
  border-radius: 10px;
}

.search-bar:focus {
  outline: none;
  border: 3px solid lightblue;
}
